<footer class="footer bg-light border-top">
    <div class="container py-5">
        <div class="row">
            <!-- Support Column -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="footer-heading mb-3">Support</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#" class="text-decoration-none">Help Centre</a></li>
                    <li><a href="#" class="text-decoration-none">AirCover</a></li>
                    <li><a href="#" class="text-decoration-none">Anti-discrimination</a></li>
                    <li><a href="#" class="text-decoration-none">Disability support</a></li>
                    <li><a href="#" class="text-decoration-none">Cancellation options</a></li>
                    <li><a href="#" class="text-decoration-none">Report neighbourhood concern</a></li>
                </ul>
            </div>

            <!-- Hosting Column -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="footer-heading mb-3">Hosting</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#" class="text-decoration-none">Airbnb your home</a></li>
                    <li><a href="#" class="text-decoration-none">AirCover for Hosts</a></li>
                    <li><a href="#" class="text-decoration-none">Hosting resources</a></li>
                    <li><a href="#" class="text-decoration-none">Community forum</a></li>
                    <li><a href="#" class="text-decoration-none">Hosting responsibly</a></li>
                </ul>
            </div>

            <!-- Airbnb Column -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="footer-heading mb-3">Airbnb</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#" class="text-decoration-none">Newsroom</a></li>
                    <li><a href="#" class="text-decoration-none">New features</a></li>
                    <li><a href="#" class="text-decoration-none">Careers</a></li>
                    <li><a href="#" class="text-decoration-none">Investors</a></li>
                    <li><a href="#" class="text-decoration-none">Airbnb.org emergency stays</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom Section -->
        <div class="row border-top pt-4 mt-4">
            <div class="col-md-6 d-flex align-items-center footer-bottom">
                <div class="d-flex gap-3">
                    <a href="#" class="text-decoration-none d-flex align-items-center">
                        <i class="fa-solid fa-globe me-2"></i>
                        <span>English (IN)</span>
                    </a>
                    <a href="#" class="text-decoration-none d-flex align-items-center">
                        <i class="fa-solid fa-indian-rupee-sign me-2"></i>
                        <span>INR</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end justify-content-start align-items-center">
                <div class="social-links d-flex gap-3">
                    <a href="#" class="text-decoration-none">
                        <i class="fa-brands fa-facebook fa-lg"></i>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fa-brands fa-twitter fa-lg"></i>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fa-brands fa-instagram fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>